.loader {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 5px solid rgb(78, 78, 78);
  border-bottom: none;
  border-left: none;
  border-radius: 50%;
  animation: rotate1 linear 2s infinite;
}

.innerCircle {
  width: 100px;
  height: 100px;
  border: 5px solid rgba(143, 0, 79, 0.747);
  border-top: none;
  border-left: none;
  border-radius: 50%;
  animation: rotate2 linear 1s infinite;
}

@keyframes rotate1 {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  from {
    transform: rotate(360deg)
  }

  to {
    transform: rotate(-360deg);
  }
}